<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aim.questionnaire.dao.ProjectEntityMapper">
  <resultMap id="BaseResultMap" type="com.aim.questionnaire.dao.entity.ProjectEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_updated_by" jdbcType="CHAR" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.aim.questionnaire.dao.entity.ProjectEntity">

  </resultMap>
  <sql id="Base_Column_List">

  </sql>
  <sql id="Blob_Column_List">

  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">

  </delete>
  <insert id="insert" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
   insert into project_info(id,user_id,project_name,project_content,created_by,creation_date,last_updated_by,last_update_date)
   values(#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{projectName,jdbcType=VARCHAR},#{projectContent,jdbcType=LONGVARCHAR},#{createdBy,jdbcType=CHAR},#{creationDate,jdbcType=TIMESTAMP},#{lastUpdatedBy,jdbcType=CHAR},#{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
  insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectContent != null">
        project_content,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        #{projectContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=CHAR},
      </if>
      <if test="lastUpdateDate != null">
       #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">

  </update>
  <update id="updateByPrimaryKey" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">

  </update>

  <!--根据项目id删除项目-->
  <delete id="deleteProjectById" parameterType="java.lang.String">
    DELETE FROM project_info
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>

  <!--查询项目列表-->
  <select id="queryProjectList" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity" resultType="java.util.Map">
    SELECT id,user_id AS userId,project_name AS projectName,project_content AS projectContent,created_by AS createdBy,creation_date AS creationDate,last_updated_by AS lastUpdatedBy,last_update_date AS lastUpdateDate
    FROM project_info
    <where>
      <if test = "projectName != null and projectName != '' ">
      project_name LIKE CONCAT('%',#{projectName,jdbcType=VARCHAR},'%') 
      </if>
      <if test = "id !=null and id !=''">
      AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test = "createdBy !=null and createdBy !=''">
      AND created_by = #{createdBy,jdbcType=CHAR}
      </if>
    </where>
    ORDER BY creation_date DESC 
  </select>

  <!--查询全部项目的名字接口-->
  <select id="queryAllProjectName" resultType="map">
    SELECT project_name AS projectName
    FROM project_info
  </select>

  <!--根据项目id查询项目名称-->
  <select id="queryProjectNameById" parameterType="java.lang.String" resultType="java.lang.String">
  
  </select> 
  
  <!-- 根据项目名字精准查询项目 -->
  <select id="queryProjectEntity" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity" resultType="com.aim.questionnaire.dao.entity.ProjectEntity">
  SELECT id,user_id AS userId,project_name AS projectName,project_content AS projectContent,created_by AS createdBy,creation_date AS creationDate,last_updated_by AS lastUpdatedBy,last_update_date AS lastUpdateDate
  FROM project_info
  WHERE  project_name = #{projectName,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据项目id修改项目 -->
  <update id="updateProjectById" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
  UPDATE project_info
  <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        project_content = #{projectContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="createdBy != null">
        create_by = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_update_by = #{lastUpdatedBy,jdbcType=CHAR},
      </if>
      <if test="lastUpdateDate != null">
       last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
  </set>
  WHERE id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--查询项目名称-->
  <select id="queryProjectName" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT project_name
    FROM project_info
    WHERE id = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>